.body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

.title-link {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.title-accent-color {
    color: #4BCAFF;
}

.title-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #35444F;
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 0;
}

.title-menu-item {
    border-left: 1px solid #ffffff;
    padding: 20px 40px;
}

.title-menu-item:last-child {
    border-right: 1px solid #ffffff;
}

.title-menu-link {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-menu {
    list-style: none;
    border: 1px solid #000000;
    width: 345px;
    padding-left: 0;
    margin-top: 0;
}

.nav-menu-item {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 45px;
}

.nav-menu-link {
    color: #485863;
    font-size: 27px;
    line-height: 27px;
}

.content {
    width: 885px;
}

.img {
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
    padding-top: 75px;
    padding-bottom: 75px;
}

.main-pic {
    width: 320px;
    height: 381px;
}

.info {
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
    margin-top: 35px;
    margin-bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 7px;
    padding-left: 0;
    margin: 0;
    width: 875px;
}

.footer-menu-item {
    border-bottom: 1px solid rgba(49, 129, 166, 0);
    padding-bottom: 13px;
}

.footer-menu-link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-text {
    font-size: 24px;
    line-height: 24px;
    color: #010101;

}






